{
	"plugins": ["@babel/plugin-syntax-jsx", "@babel/plugin-syntax-dynamic-import", ["transform-runtime", {
		"polyfill": false,
		"regenerator": true
	}]],
	"presets": ["@babel/preset-env", "@babel/preset-react"]
}
